body{
    background-color: rgb(4, 235, 177);
}
h1{
    font-size: 40px;
    text-align: center;
}
p{
    text-align: justify;
    font-size: 20px;
 
}
#imagem1{
    text-align: center;
    width: 1000px;
    height: 500px;
    margin: 200px;
}